@font-face {
    font-family: ank;
    src: url(./HelveticaNeueBold.otf);
}

@font-face {
    font-family: ank2;
    src: url(./HelveticaNeueBlack.otf);
}

@font-face {
    font-family: ank3;
    src: url(./HelveticaNeueMedium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    background-color:black;
}

section{
    height: 100%;
    width: 100%;
}

section img{
    height: 100%;
    width: 100%;
    z-index: 10;
    background-size: cover;
    object-fit: cover;
}

.main-nav{
    z-index: 20;
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 101%;
    /* justify-content: center; */
    backdrop-filter: blur(10px);
}

.main-nav #right-nav{
    display: flex;
}

#left-nav h2{
    position: absolute;
    left: 5%;
    top: 28%;
    color: white;
    font-size: 26px;
}

#right-nav{
    font-family: ank;
    justify-content: flex-end;
    position: absolute;
    right: 7%;
    font-size: 16px;
    gap: 25px;
    color: white;
    align-items: center;
}

#right-nav button{
    border: none;
    border-radius: 7px;
    font-size: 17px;
    padding: 10px 10px;
    background: linear-gradient(180deg, rgb(255, 255, 255), black);
    color: rgb(0, 0, 0);
}

/* .btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkblue;
} */

#ppv{
    font-family: ank;
    background-color: transparent;
    display: inline-block;
  padding: 9px 20px;
  background: linear-gradient(90deg, #565656, #030303);
  color: #ffffff;          /* yellow text */
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;     /* capsule shape */
  backdrop-filter: blur(6px);
  position: absolute;
  top: 20%;
  left: 5%;       /* yellow text */

}

#main-text{
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 38px;

}

#main-text .para{
    font-family: ank3;
    font-size: 26px;
}

#mid-btn .btn1{
     border: none;
    border-radius: 7px;
    font-size: 17px;
    padding: 20px 35px;
    background-color: #18212F;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 73%;
    left: 5%;
}
.btn1:hover{
    cursor: pointer;
    scale: 1.10;
    background-color: white;
    transition: all ease 0.3s;

}


#mid-btn .btn2{
     border: none;
    border-radius: 7px;
    font-size: 17px;
    padding: 20px 35px;
    background: linear-gradient(130deg, rgb(255, 255, 255), black);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 73%;
    left: 22%;
}

.btn2:hover{
    cursor: pointer;
    scale: 1.10;
    background-color: white;
    transition: all ease 0.3s;

}


#review{
    font-family: ank;
    display: flex;
    position: absolute;
    top: 90%;
    left: 8%;
    gap: 100px;
    font-size: 28px;
}

#review2{
    font-family: ank;
    display: flex;
    position: absolute;
    top: 96%;
    left: 8%;
    gap: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
